@import 'work';

.works {
    display: grid;
    row-gap: 40px;

    &__title {
        text-align: center;
    }

    @media (max-width: 29.99875em) {
        display: grid;
        row-gap: 30px;
    }
}