{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    {% if link == 1 %}
    <title>Главная</title>
    {% elif link == 2 %}
    <title>Блог</title>
    {% elif link == 3 %}
    <title>Проекты</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <meta name="address" content="">
    <!-- Подключение моих стилей и слайдера -->
    <link rel="stylesheet" href="{% static 'JohnWebSite/css/style.css'%}">
    <link rel="shortcut icon" href="{% static 'JohnWebSite/img/favicon.ico'%}" type="image/x-icon">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="opacity: 0;">
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            {% if link == 1 %}
                            <a href="{% url 'home' %}" class="menu__link _active">Главная</a>
                            {% else %}
                            <a href="{% url 'home' %}" class="menu__link">Главная</a>
                            {% endif %}
                        </li>
                        <li class="menu__item">
                            {% if link == 2 %}
                            <a href="{% url 'blogs' %}" class="menu__link _active">Блог</a>
                            {% else %}
                            <a href="{% url 'blogs' %}" class="menu__link">Блог</a>
                            {% endif %}
                        </li>
                        <li class="menu__item">
                            {% if link == 3 %}
                            <a href="{% url 'works' %}" class="menu__link _active">Проекты</a>
                            {% else %}
                            <a href="{% url 'works' %}" class="menu__link">Проекты</a>
                            {% endif %}
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="page">
            {% block section %}{% endblock %}
        </main>
        <footer class="footer">
            <div class="footer__container">
                {% if socials %}
                <ul class="footer__list">
                    {% for social in socials %}
                    <li class="footer__item">
                        <a href="{{social.linkSocial}}" target="_blank" class="footer__link">
                            <div class="footer__icon">
                                <img src="{{social.pictureSocial.url}}" alt="{{social.titleSocial}}" class="footer__img">
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <h1 class="hi__h1 h1">Social NOT</h1>
                {% endif %}
            </div>
        </footer>
    </div>
    <!-- Подключение показа страницы после загрузки -->
    <script src="{% static 'JohnWebSite/js/script.js'%}"></script>
    <!-- Подключение jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Подключение слайдера -->
    <script type="text/javascript" src="{% static 'JohnWebSite/js/slick.min.js'%}"></script>
    <!-- Инициализация слайдера -->
    <script type="text/javascript" src="{% static 'JohnWebSite/js/ini.js'%}"></script>

</body>

</html>