@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 53.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body {
  background: url("../img/background.png") fixed;
}

.page {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 29.99875em) {
  .page {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.h1 {
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 3.75rem;
  color: #21243D;
}
@media (max-width: 29.99875em) {
  .h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.h2 {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.75rem;
  color: #21243D;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
@media (max-width: 29.99875em) {
  .h2 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.text {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #21243D;
}

.header {
  position: relative;
}

.menu__list {
  margin: 0 -10px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.99875em) {
  .menu__list {
    height: 50px;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  color: #FF6464;
}

._active {
  color: #FF6464;
}

.footer {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.99875em) {
  .footer {
    height: 80px;
  }
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.footer__icon {
  width: 48px;
  height: 48px;
}
.footer__img {
  width: 100%;
  background: #000;
  border: 3px solid transparent;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.footer__img:hover {
  border-color: #FF6464;
}

.first {
  padding-top: 110px;
  margin-top: -110px;
  min-height: 100vh;
}

.hi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}
@media (max-width: 47.99875em) {
  .hi {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
    padding-bottom: 30px;
  }
}
.hi__content {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 47.99875em) {
  .hi__content {
    row-gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .hi__content {
    max-width: 312px;
  }
}
.hi__h1 {
  margin-bottom: -10px;
}
.hi__btn {
  font-weight: 500;
  font-size: 1.125rem;
  color: #fff;
}
.hi__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  height: 243px;
}
@media (max-width: 47.99875em) {
  .hi__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 243px;
            flex: 0 0 243px;
    width: 243px;
  }
}
@media (max-width: 29.99875em) {
  .hi__avatar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    width: 180px;
  }
}
.hi__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.btn {
  width: 200px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.btn:hover {
  -webkit-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
          box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.btn:hover .btn__waves {
  top: -50px;
}
.btn__text {
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.btn__waves {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}
.btn__waves:after, .btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
          transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}
.btn__waves:before {
  background-color: #000;
  border-radius: 48%;
  -webkit-animation: waves 10s infinite linear;
          animation: waves 10s infinite linear;
}
.btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  -webkit-animation: waves 20s infinite linear;
          animation: waves 20s infinite linear;
}

@-webkit-keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}

@keyframes waves {
  0% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
            transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
.recent-blogs {
  background: #EDF7FA;
  padding-bottom: 30px;
}
@media (max-width: 29.99875em) {
  .recent-blogs {
    padding-bottom: 40px;
  }
}
.recent-blogs__header {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.99875em) {
  .recent-blogs__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.recent-blogs__title {
  font-size: 1.375rem;
  color: #21243D;
}
.recent-blogs__view-all {
  margin-left: -10px;
  padding: 10px;
  font-size: 1rem;
  color: #00A8CC;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.recent-blogs__view-all:hover {
  color: #FF6464;
}
@media (max-width: 29.99875em) {
  .recent-blogs__view-all {
    display: none;
  }
}
.recent-blogs__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media (max-width: 29.99875em) {
  .recent-blogs__list {
    grid-template-columns: 1fr;
  }
}
.recent-blogs__item {
  border: 3px solid transparent;
  border-radius: 4px;
  background: #fff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding: 23px;
}
.recent-blogs__item:hover {
  border-color: #000;
}
.recent-blogs__item:hover h2 {
  color: #FF6464;
}
.recent-blogs__item article::after {
  display: none;
}
.recent-blogs__item a {
  pointer-events: auto;
  cursor: pointer;
}

.featured-works__header {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.99875em) {
  .featured-works__header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.featured-works__view-all {
  margin-left: -10px;
  padding: 10px;
  font-size: 1rem;
  color: #00A8CC;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.featured-works__view-all:hover {
  color: #FF6464;
}
@media (max-width: 29.99875em) {
  .featured-works__view-all {
    display: none;
  }
}
.featured-works__title {
  padding: 18px 0;
  font-size: 1.375rem;
  color: #21243D;
}
.featured-works__list {
  margin-top: -30px;
}
.featured-works__item {
  padding-top: 40px;
}
.featured-works__item:hover {
  border-color: #000;
}
.featured-works__item:hover h2 {
  color: #FF6464;
}
.featured-works__item a {
  pointer-events: auto;
  cursor: pointer;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  z-index: 100;
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
@media (max-width: 767.8px) {
  .slick-prev,
.slick-next {
    opacity: 0;
  }
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 60px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 0px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 0px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: 0px;
}
[dir=rtl] .slick-next {
  left: 0px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  position: relative;
}
.blog::after {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #E0E0E0;
}
@media (max-width: 29.99875em) {
  .blog::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
.blog__link {
  pointer-events: none;
  cursor: default;
}
.blog__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog__info-data {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #21243D;
}
@media (max-width: 29.99875em) {
  .blog__info-data {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
.blog__info-category {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #8695A4;
}
@media (max-width: 29.99875em) {
  .blog__info-category {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.blogs {
  display: grid;
  row-gap: 30px;
}
@media (max-width: 29.99875em) {
  .blogs {
    display: grid;
    row-gap: 20px;
  }
}

.work {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px 15px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  position: relative;
}
@media (max-width: 47.99875em) {
  .work {
    margin: 0 auto;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 595px;
  }
}
.work::after {
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #E0E0E0;
}
@media (max-width: 29.99875em) {
  .work::after {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
.work__picture {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}
.work__img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.work__content {
  display: grid;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  row-gap: 20px;
}
.work__link {
  pointer-events: none;
  cursor: default;
}
.work__h2 {
  margin-top: -10px;
}
.work__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.work__info-data {
  background: #142850;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: 900;
  font-size: 1.125rem;
  color: #fff;
}
.work__info-title {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #8695A4;
}
@media (max-width: 29.99875em) {
  .work__info-title {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.works {
  display: grid;
  row-gap: 40px;
}
.works__title {
  text-align: center;
}
@media (max-width: 29.99875em) {
  .works {
    display: grid;
    row-gap: 30px;
  }
}/*# sourceMappingURL=style.css.map */