{% extends 'JohnWebSite/index.html' %}
{% load static %}
{% block section %}
<div class="first">
	<div class="__container">
		<section class="hi">
			<div class="hi__content">
				{% if extUser.helloExtUser %}
				<h1 class="hi__h1 h1">{{extUser.helloExtUser}}</h1>
				{% else %}
				<h1 class="hi__h1 h1">Hello, my name John</h1>
				{% endif %}
				{% if extUser.descriptionExtUser %}
				<div class="hi__text text">{{extUser.descriptionExtUser}}</div>
				{% else %}
				<div class="hi__text text">I Am Developer</div>
				{% endif %}
				{% if extUser.resumeExtUser %}
				<a href="{{extUser.resumeExtUser.url}}" download="" class="hi__btn btn">
					<div class="btn__text">Скачать резюме</div>
					<div class="btn__waves"></div>
				</a>
				{% else %}
				<button class="hi__btn btn">
					<div class="btn__text">Резюме нет</div>
					<div class="btn__waves"></div>
				</button>
				{% endif %}
			</div>
			<div class="hi__avatar">
				{% if extUser.pictureExtUser %}
				<picture>
					<source srcset="{{extUser.pictureExtUser.url}}" type="image/webp"><img class="hi__img"
						src="{{extUser.pictureExtUser.url}}" alt="avatar">
				</picture>
				{% else %}
				<picture>
					<source srcset="https://picsum.photos/200" type="image/webp">
					<img class="hi__img" src="https://picsum.photos/200" alt="avatar">
				</picture>
				{% endif %}
			</div>
		</section>
	</div>
</div>
{% if blogs %}
<section class="recent-blogs">
	<div class="__container">
		<div class="recent-blogs__header">
			<div class="recent-blogs__title">Недавние</div>
			<a href="{% url 'blogs' %}" class="recent-blogs__view-all">Посмотреть все</a>
		</div>
		<ul class="recent-blogs__list">
			{% for blog in blogs %}
			<li>
				{% include 'JohnWebSite/blog.html' %}
			</li>
			{% endfor %}
		</ul>
	</div>
</section>
{% endif %}
<div class="__container">
	<section class="featured-works">
		<div class="featured-works__title">Избранные работы</div>
		<ul class="featured-works__list">
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
		</ul>
	</section>
</div>
{% endblock %}