{% extends 'JohnWebSite/index.html' %}
{% load static %}
{% block section %}
<div class="__container">
	<section class="hi">
		<div class="hi__content">
			<h1 class="hi__h1 h1">Привет, я Джон, Креативный технолог</h1>
			<div class="hi__text text">Они очень мягкие и не оставляют боли. Ему нравится заботиться о своей семье.
				Упражнение принесет свои плоды.</div>
			<a href="#" class="hi__btn btn">
				<div class="btn__text">Скачать резюме</div>
				<div class="btn__waves"></div>
			</a>
		</div>
		<div class="hi__avatar">
			<picture>
				<source srcset="{% static 'JohnWebSite/img/avatar.webp'%}" type="image/webp"><img class="hi__img"
					src="{% static 'JohnWebSite/img/avatar.webp'%}" alt="avatar">
			</picture>
		</div>
	</section>
</div>
<section class="recent-blogs">
	<div class="__container">
		<div class="recent-blogs__header">
			<div class="recent-blogs__title">Недавние посты</div>
			<a href="/blogs.html" class="recent-blogs__view-all">Посмотреть все</a>
		</div>
		<ul class="recent-blogs__list">
			<li class="recent-blogs__item">
				{% include 'JohnWebSite/blog.html' %}
			</li>
			<li class="recent-blogs__item">
				{% include 'JohnWebSite/blog.html' %}
			</li>

		</ul>
	</div>
</section>
<div class="__container">
	<section class="featured-works">
		<div class="featured-works__title">Избранные работы</div>
		<ul class="featured-works__list">
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
			<li class="featured-works__item">
				{% include 'JohnWebSite/work.html' %}
			</li>
		</ul>
	</section>
</div>
{% endblock %}