{% load static %}
<article class="work">
    <div>
        <div class="work__picture">
            <picture>
                <source srcset="{% static 'JohnWebSite/img/project.jpg'%}" type="image/webp">
                <img class="work__img" src="{% static 'JohnWebSite/img/project.jpg'%}" alt="featured-wor">
            </picture>
        </div>
    </div>
    <div class="work__content">
        <a href="#" class="work__link">
            <h2 class="work__h2 h2">Проектирование панелей</h2>
        </a>
        <div class="work__info">
            <div class="work__info-data">2020</div>
            <div class="work__info-title">Приборная доска</div>
        </div>
        <div class="work__text text">Далеко-далеко за словесными горами в стране гласных и
            согласных живут рыбные тексты. Приставка собрал безорфографичный имеет! Рыбного родного
            безорфографичный парадигматическая алфавит единственное?
        </div>
    </div>
</article>