{% load static %}
<article class="work">
    <div>
        <div class="work__picture">
            {% if project.pictureProject %}
            <picture>
                <source srcset="{{project.pictureProject.url}}" type="image/webp">
                <img class="work__img" src="{{project.pictureProject.url}}" alt="{{project.titleProject}}">
            </picture>
            {% else %}
            <picture>
                <source srcset="https://picsum.photos/200" type="image/webp">
                <img class="work__img" src="https://picsum.photos/200" alt="{{project.titleProject}}">
            </picture>
            {% endif %}
        </div>
    </div>
    <div class="work__content">
        <a href="{{project.linkProject}}" target="_blank" class="work__link">
            <h2 class="work__h2 h2" title="Перейти к проекту">{{project.titleProject}}</h2>
        </a>
        <div class="work__info">
            <div class="work__info-data">{{project.createdProject|date:"Y"}}</div>
            <div class="work__info-title">{{project.subtitleProject}}</div>
        </div>
        <div class="work__text text">{{project.descriptionProject}}</div>
    </div>
</article>